* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-size: 6rem;
  text-transform: capitalize;
}

.welcome-position {
  text-align: center;
  margin: auto;
}

.products-position { text-align: left; }

.bg-welcome {
  background: url('./assets/test.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav {
  color: white;
  display: flex;
}

.nav-logo {
  margin-left: 6%;
}

.nav-logo > figure > img {
  width: 100%;
  height: 100%;
}

.nav__elements__container {
  background-color: rgba(0,0,0,0.6);
  height: 10%;
  width: 100%;
}

.nav__elements__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin-left: 6%;
  padding-top: 1%;
  padding-left: 8%;
  padding-right: 9%;
  border-bottom: 1px solid #fff;
}

.nav__elements__info figure {
  height: 50px;
}

.nav__elements__info > div figure {
  width: 25px;
  height: 25px;
}

.nav__elements__arrow {
  cursor: pointer;
  height: 70%;
}

.nav__elements__info > div {
  display: flex;
}

.nav__elements__links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 90%;
  margin-left: 8%;
  padding: 1%;
}

.nav__elements__links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.main__welcome {
  color: white;
  padding-top: 7%;
}

.main__welcome > div:nth-child(1) {
  height: 30vh;
}

.main__welcome > div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__welcome > div:nth-child(2) > h1 {
  font-weight: lighter;
  font-size: 1rem;
  width: 50%;
}

.products {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.products > div { align-self: center; }

.products > div > h2 {
  width: 50vw;
}

.products > div > div {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}


.wholesaling {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.wholesaling > div {
  margin-left: 50%;
  align-self: center;
}

.takeaway {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.takeaway > div { align-self: center; }

.takeaway > div > h2 { width: 50vw; }

.our-history {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.our-history > div  {
  width: 60%;
  margin: auto;
}
