* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: kenyanCoffee;
  src: url('./assets/kenyanCoffeeBOLD.ttf')
}

/************** PC NORMAL ******************/
@media only screen and (max-width: 1700px) and (min-width: 1000px) {

  body { overflow: hidden; }
  
  .master-container {
    display: flex;
    width: 600vw;
  }

  .arrow {
    width: 6%;
    padding-left: 2%;
    padding-top: 8%;
    transition: 0.5s all;
  }

  .bg-welcome { background: url('./assets/bgWelcomePC.jpg'); }
  
  .bg-products { background: url('./assets/bgProductsPC.jpg'); }
  
  .bg-wholesaling { background: url('./assets/bgWholesalingPC.jpg'); }
  
  .bg-takeaway { background: url('./assets/bgTakeawayPC.jpg'); }
  
  .bg-our-history { background: url('./assets/bgOurHistoryPC.jpg'); }
  
  .bg-contact { background: url('./assets/bgContactPC.jpg'); }
  
  .bg-welcome,
  .bg-products,
  .bg-wholesaling,
  .bg-takeaway,
  .bg-our-history,
  .bg-contact {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .bg-product {
    background: url('./assets/bgProduct.jpg');
  }

  .bg-product {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .nav__mobile {
    display: none;
  }

  .nav {
    display: flex;
    position: fixed;
    color: white;
    width: 100vw;
    height: 15%;
    background-color: rgba(0,0,0,0.6);
  }
  
  .nav-logo { margin-left: 6%; }
  
  .nav-logo > figure > a > img {
    width: 80%;
    height: 100%;
  }
  
  .nav__elements__container {
    height: 10%;
    width: 100%;
  }
  
  .nav__elements__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-left: 6%;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 9%;
    border-bottom: 1px solid #fff;
  }
  
  .nav__elements__info figure { height: 40px; }
  
  .nav__elements__info > div { display: flex; }

  .nav__elements__info > div figure {
    width: 25px;
    height: 25px;
  }
  
  .nav__elements__arrow {
    cursor: pointer;
    height: 80%;
  }
  
  .nav__elements__info > div > p { 
    line-height: 50px;
  }
  
  .nav__elements__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    margin-left: 8%;
    padding-top: 0.5%;
  }
  
  .nav__elements__links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s;
  }

  .nav__elements__links ul li a:hover {
    font-weight: bold;
  }

  .cta-takeaway {
    position: fixed;
    top: 18vh;
    right: 1vw;
  }
  
  .main__welcome {
    display: flex;
    color: white;
    margin-top: 15%;
  }
  
  .welcome__info {
    width: 94%;
  }
  
  .welcome__info > p {
    font-family: kenyanCoffee;
    font-size: 12rem;
    text-align: center;
    padding-top: 3%;
  }
  
  .welcome__info > h1 {
    font-weight: lighter;
    font-size: 1.3rem;
    width: 70%;
    margin-left: 20%;
  }
  
  .products {
    display: flex;
    color:white;
    margin-top: 13%;
  }
  
  .products__info {
    width: 94%;
  }
  
  .products__info > p {
    font-family: kenyanCoffee;
    font-size: 6rem;
  }
  
  .products__info > h2 {
    font-size: 1.3rem;
    font-weight: lighter;
    width: 47vw;
  }
  
  .products__info > div {
    display: flex;
    margin-top: 4rem;
    width: 50vw;
  }
  
  .products__icons img {
    height: 70%;
    transition: 0.5s all;
  }
  
  .products__icons img:hover {
    height: 75%;
  }
  
  .wholesaling {
    display: flex;
    color: white;
    margin-top: 13%;
  }
  
  .wholesaling__info {
    padding-left: 32%;
    padding-right: 1.5%;
    width: 94%;
  }
  
  .wholesaling__info > p:nth-child(1) {
    font-family: kenyanCoffee;
    font-size: 6rem;
  }
  
  .wholesaling__info >  p:nth-child(2),
  .wholesaling__info >  p:nth-child(3),
  .wholesaling__info >  p:nth-child(4) {
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: 'Open sans', sans-serif;
    line-height: 1.5rem;
  }
  
  .takeaway {
    display: flex;
    margin-top: 15%;
  }
  
  .bg-takeaway {
    background-position-x: 0px;
    background-size: 110vw 120vh;
  }

  .takeaway__info{
    width: 88%;
    padding-right: 34%;
  }
  
  .takeaway__info > p:nth-child(1) {
    font-family: kenyanCoffee;
    font-size: 6rem;
  }
  
  .takeaway__info > p:nth-child(2),
  .takeaway__info > p:nth-child(3),
  .takeaway__info > p:nth-child(4),
  .takeaway__info > p:nth-child(5) {
    font-size: 1.3rem;
    font-family: 'Open sans';
    font-weight: lighter;
  }
  
  .our-history {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  .our-history__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin-top: 4%;
  }
  
  .our-history__info > p:nth-child(1) {
    font-family: kenyanCoffee;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2%;
  }
  
  .our-history__info > p:nth-child(2),
  .our-history__info > p:nth-child(3),
  .our-history__info > p:nth-child(4),
  .our-history__info > p:nth-child(5) {
    font-weight: lighter;
    font-size: 1.4rem;
    font-family: 'Open sans';
    text-align: justify;
    width: 65%;
    margin: auto;
  }
  
  .contact {
    display: flex;
    color: white;
    margin-top: 15%;
    margin-right: 0;
    width: 100%;
  }
  
  .contact__info{
    width: 100%;
  }
  
  .contact__info > p:nth-child(1) {
    font-family: kenyanCoffee;
    font-size: 6rem;
  }
  
  .contact__info > p:nth-child(2),
  .contact__info > p:nth-child(3),
  .contact__info > p:nth-child(4),
  .contact__info > p:nth-child(5),
  .contact__info > p:nth-child(6),
  .contact__info > p:nth-child(7) {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    width: 80vw;
  }
  
  .contact__social-networks {
    display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 15%;
    margin: auto;
  }
  
  .contact__social-networks > figure > a img{
    transition: 0.5s all;
  }
  
  .contact__social-networks > figure > a:hover img{
    transform: scale(1.2);
  }
}
/************** PC NORMAL ******************/

/************** TABLETA PARADA ******************/
@media only screen and (min-width:700px) and (max-width: 999px) {
  
  body { overflow: hidden; }
  
  .master-container {
    display: flex;
    width: 900vw;
  }

  .arrow {
    width: 6%;
    padding-left: 1%;
    padding-top: 40%;
    transition: 0.5s all;
  }

  .bg-welcome { background: url('./assets/bgWelcomePC.jpg') center; }
  
  .bg-products { background: url('./assets/bgProductsPC.jpg') center; }
  
  .bg-wholesaling { background: url('./assets/bgWholesalingPC.jpg') left; }
  
  .bg-takeaway { background: url('./assets/bgTakeawayPC.jpg') center; }
  
  .bg-our-history { background: url('./assets/bgOurHistoryPC.jpg') left; }
  
  .bg-contact { background: url('./assets/bgContactPC.jpg') center; }
  
  .bg-welcome,
  .bg-products,
  .bg-wholesaling,
  .bg-takeaway,
  .bg-our-history,
  .bg-contact {
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  .nav__mobile {
    display: none;
  }

  .nav {
    display: flex;
    position: fixed;
    color: white;
    width: 100vw;
    height: 3.5%;
    background-color: rgba(0,0,0,0.6);
  }
  
  .nav-logo {
    margin-left: 1%;
  }
  
  .nav-logo > figure > img {
    width: 100%;
    height: 100%;
  }

  .nav__elements__info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 2%;
    border-bottom: 1px solid #fff;
  }
  
  .nav__elements__info figure {
    height: 50px;
  }
  
  .nav__elements__info > div figure {
    width: 20px;
    height: 20px;
  }
  
  .nav__elements__arrow {
    cursor: pointer;
    height: 80%;
  }
  
  .nav__elements__info > div {
    display: flex;
  }
  
  .nav__elements__info > div > p {
    line-height: 45px;
  }
  
  .nav__elements__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    padding: 1%;
  }
  
  .nav__elements__links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }

  .cta-takeaway {
    position: fixed;
    top: 15vh;
    left: 65vw;
  }
  
  .main__welcome {
    display: flex;
    color: white;
    margin-top: 25%;
  }
  
  .welcome__info {
    width: 90%;
  }
  
  .welcome__info > p {
    font-family: kenyanCoffee;
    font-size: 9rem;
    text-transform: capitalize;
    text-align: center;
    padding-top: 35%;
    padding-bottom: 10%;
  }
  
  .welcome__info > h1 {
    font-weight: lighter;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
  }
  
  .products {
    display: flex;
    width: 100vw;
    height: 100vh;
    color:white;
    margin-top: 25%;
  }
  
  .products__info {
    width: 86%;
    padding-left: 5%;
    margin-top: 5%;
  }
  
  .products__info > p {
    font-family: kenyanCoffee;
    font-size: 9rem;
    text-transform: capitalize;
    margin-top: 10%;
  }
  
  .products__info > h2 {
    width: 75vw;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  .products__info > div {
    display: flex;
    margin-top: 2rem;
  }
  
  .products__icons img {
    width: 100%;
  }
  
  .wholesaling {
    display: flex;
    color: white;
    width: 100vw;
    height: 100vh;
    margin-top: 25%;
  }
  
  .wholesaling__info {
    width: 90%;
    padding: 0% 5%;
    margin-top: 10%;
  }
  
  .wholesaling__info > p {
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
    padding-top: -100px;
  }
  
  .wholesaling__info > p + p {
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: "Open sans", sans-serif;
    text-transform: none;

  }
  .bg-takeaway {
    background-position: 217vw 108vh;
  }


  .takeaway {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 25%;
  }
  
  .takeaway__info{
    width: 86%;
    padding-left: 5%;
  }
  
  .takeaway__info > p {
    font-family: kenyanCoffee;
    font-size: 7rem;
    line-height: 8rem;
    margin-bottom: 5%;
  }
  
  .takeaway__info > p + p {
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: "Open sans", sans-serif;
    text-transform: none;
    line-height: normal;
  }
  
  .our-history {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 25%;
  }
  
  .our-history__info{
    width: 88%;
    padding-left: 5%;
    margin-top: 20%;
  }
  
  .our-history__info > p {
    font-family: kenyanCoffee;
    font-size: 9rem;
    width: 80%;
    margin: auto;
  }
  
  .our-history__info > p + p {
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: "Open sans", sans-serif;
    text-transform: none;
    line-height: normal;
  }
  
  .contact {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
    margin-top: 25%;
  }
  
  .contact__info {
    width: 86%;
    padding-left: 5%;
    margin-top: 15%;
  }
  
  .contact__info > p {
    font-family: kenyanCoffee;
    font-size: 9rem;
    text-transform: capitalize;
  }
  
  .contact__info > p + p {
    font-weight: lighter;
    font-size: 1.3rem;
    font-family: "Open sans", sans-serif;
    text-transform: none;
    line-height: normal;
  }
  
  .contact__branches {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  .contact__branches > div {
    margin-bottom: 2%;
  }
  
  .contact__branches > div > h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  
  .contact__branches > div > p {
    font-size: 1rem;
  }
  
  .contact__social-networks {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
    padding-top: 25vh;
  }
  
}
/************** TABLETA PARADA ******************/

/************** MOBILE ******************/
@media only screen and (max-width: 699px) {

  .cta-takeaway { display: none }

  .bg-welcome { background: url('./assets/bgWelcomePC.jpg') center; }

  .bg-products { background: url('./assets/bgProductsPC.jpg') center; }

  .bg-wholesaling { background: url('./assets/bgWholesalingPC.jpg') left; }

  .bg-takeaway {  background: url('./assets/bgTakeawayPC.jpg') center; }

  .bg-our-history { background: url('./assets/bgOurHistoryPC.jpg'); }

  .bg-contact { background: url('./assets/bgContactPC.jpg') right; }

  .bg-welcome,
  .bg-products,
  .bg-wholesaling,
  .bg-takeaway,
  .bg-our-history,
  .bg-contact {
    background-size: cover;
    width: 100vw;
    height: auto;
  }
  
  .nav { display: none; }

  .nav__mobile {
    display: flex;
    justify-content: center;
    position: fixed;
    top:1px;
    width: 100vw;
    z-index: 1;
  }

  .nav__mobile__logo,
  .nav__mobile__whatsapp,
  .nav__mobile > div {
    width: 33%;
  }

  .nav__mobile__hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.859);
    -webkit-box-shadow: -1px 4px 50px -13px rgba(87,87,87,1);
    -moz-box-shadow: -1px 4px 50px -13px rgba(87,87,87,1);
    box-shadow: -1px 4px 50px -13px rgba(87,87,87,1);
  }
  
  .nav__mobile__hamburguer > div {
    background-color: rgba(0, 0, 0, 0.612);
    margin:  5% auto;
    width: 60%;
    height: 5px;
  }
  
  .nav__mobile__hamburguer-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.886);
  }

  .close-nav__mobile {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 75%;
    background-color: rgba(255, 255, 255, 0.818);
  }

  .close-nav__mobile > div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
  }

  .close-nav__mobile > div:nth-child(1) { 
    transform: 
      rotate(45deg) 
      translate(30px,10px); 
  }

  .close-nav__mobile > div:nth-child(2) {
    transform: 
      rotate(135deg) 
      translate(30px,-10px);
  }

  .nav__mobile__hamburguer-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 10%;
  }

  .nav__mobile__hamburguer-list ul li {
    margin-bottom: 15%;
  }

  .nav__mobile__hamburguer-list ul li a {
    color: white;
    font-size: 2.4rem;
    font-family: kenyanCoffee;;
    text-decoration: none;
    text-transform: capitalize;
  }

  .nav__mobile__logo > a > img {
    width: 90%;
  }

  .nav__mobile__whatsapp > a > img {
    width: 95%;
    margin-top: 20%;
  }

  .main__welcome {
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 50%;  
    width: 100%;
    height: 100vh;
  }
  
  .welcome__info { width: 80%; }
  
  .welcome__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  
  .welcome__info > h1 {
    font-weight: lighter;
    font-size: 1rem;
    margin: auto;
  }
  
  .products {
    display: flex;
    color:white;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .arrow { display: none; }
  
  .products__info {
    width: 86%;
    padding-top: 40%;
    padding-left: 5%;
  }
  
  .products__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    text-transform: capitalize;
    margin-top: 10%;
  }
  
  .products__info > h2 {
    width: 75vw;
    font-size: 1rem;
    font-weight: lighter;
  }
  
  .products__info > div {
    display: flex;
    margin-top: 2rem;
  }
  
  .products__icons img { width: 90%; }
  
  .wholesaling {
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    height: auto;
    padding-bottom: 10%;
  }
  
  .wholesaling__info {
    width: 90%;
    padding-top: 39%;
    padding-left: 5%;
  }
  
  .wholesaling__info > figure {
    display: none;
  }
  
  .wholesaling__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    text-transform: capitalize;
  }
  
  .wholesaling__info > p + p {
    font-weight: lighter;
    font-size: 1rem;
    font-family: "Open sans", sans-serif;
    text-transform: none;
    line-height: normal;
  }
  
  .bg-takeaway {
    background-position-x: 158vh;
    background-position-y: 5vh;
  }

  .takeaway {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .takeaway__info{
    width: 86%;
    padding-left: 5%;
    padding-top: 40%;
  }
  
  .takeaway__info > figure { display: none; }
  
  .takeaway__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 5%;
  }
  
  .takeaway__info > p + p {
    font-weight: lighter;
    font-size: 1rem;  
    text-transform: none;
    line-height: normal;
    font-family: "Open sans", sans-serif;
  }
  
  .our-history {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .our-history__info{
    width: 100%;
    padding-left: 10%;
    padding-top: 50%;
  }
  
  .our-history__info > figure { display: none; }
  
  .our-history__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    text-transform: capitalize;
    width: 70%;
    margin: auto;
  }
  
  .our-history__info > p + p {
    font-size: 1.0rem;
    font-weight: lighter;
    width: 75%;
    margin: auto;
    text-transform: none;
    line-height: normal;
    font-family: "Open sans", sans-serif;
  }
  
  .contact {
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
  }
  
  .contact__info {
    width: 65%;
    padding-top: 40%;
  }
  
  .contact__info > figure { display: none; }
  
  .contact__info > p {
    font-family: kenyanCoffee;
    font-size: 5rem;
    text-transform: capitalize;
  }
  
  .contact__info > p + p { 
    display: block;
    width: 100%;
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: "Open sans", sans-serif;  
    line-height: normal;
    text-transform: none;
    margin: auto;  
  }
  
  .contact__branches {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  .contact__branches > div { margin-bottom: 5%; }
  
  .contact__branches > div > h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  
  .contact__branches > div > p { font-size: 1rem; }
  
  .contact__social-networks {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 44%;
    padding-top: 25%;
    margin: auto;
  }
}
/************** MOBILE ******************/

/************** 4K ******************/
@media only screen and (min-width:1701px) {
  
  body { overflow: hidden; }
  
  .master-container {
    display: flex;
    width: 600vw;
  }

  .cta-takeaway {
    position: fixed;
    top: 15vh;
    left: 86vw;
  }

  .bg-welcome { background: url('./assets/bgWelcomePC.jpg'); }
  
  .bg-products { background: url('./assets/bgProductsPC.jpg'); }
  
  .bg-wholesaling { background: url('./assets/bgWholesalingPC.jpg'); }
  
  .bg-takeaway { background: url('./assets/bgTakeawayPC.jpg'); }
  
  .bg-our-history { background: url('./assets/bgOurHistoryPC.jpg'); }
  
  .bg-contact { background: url('./assets/bgContactPC.jpg'); }
  
  .bg-welcome,
  .bg-products,
  .bg-wholesaling,
  .bg-takeaway,
  .bg-our-history,
  .bg-contact {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .nav__mobile {
    display: none;
  }

  .nav {
    display: flex;
    position: fixed;
    color: white;
    width: 100vw;
    height: 4%;
    background-color: rgba(0,0,0,0.6);
  }
  
  .nav-logo { margin-left: 6%; }
  
  .nav-logo > figure > img {
    width: 100%;
    height: 100%;
  }
  
  .nav__elements__container {
    height: 10%;
    width: 100%;
  }
  
  .nav__elements__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-left: 6%;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 9%;
    border-bottom: 1px solid #fff;
  }
  
  .nav__elements__info figure { height: 50px; }
  
  .nav__elements__info > div figure {
    width: 25px;
    height: 25px;
  }
  
  .nav__elements__arrow {
    cursor: pointer;
    height: 80%;
  }
  
  .nav__elements__info > div { display: flex; }
  
  .nav__elements__info > div > p { line-height: 50px; }
  
  .nav__elements__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    margin-left: 8%;
    padding: 1%;
  }
  
  .nav__elements__links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  
  .main__welcome {
    color: white;
    display: flex;
    margin-top: 12%;
  }
  
  .welcome__info { width: 94%; }
  
  .welcome__info > p {
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  
  .welcome__info > h1 {
    font-weight: lighter;
    font-size: 2.2rem;
    width: 84%;
    margin: auto;
  }
  
  .products {
    display: flex;
    width: 100vw;
    height: 100vh;
    color:white;
    margin-top: 12%;
  }
  
  .arrow {
    width: 6%;
    padding-left: 2%;
    padding-top: 13%;
    transition: 0.5s all;
  }
  
  .products__info { width: 94%; }
  
  .products__info > p {
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
  }
  
  .products__info > h2 {
    width: 54vw;
    font-size: 1.8rem;
    font-weight: lighter;
  }
  
  .products__info > div {
    margin-top: 2rem;
    width: 70vw;
    display: flex;
  }
  
  .products__icons img {
    height: 80%;
    transition: 0.5s all;
  }
  
  .products__icons img:hover { height: 85%; }
  
  .wholesaling {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
    margin-top: 12%;
  }
  
  .wholesaling__info {
    padding-left: 42%;
    width: 94%;
    margin-top: 10%;
  }
  
  .wholesaling__info > p {
    position: relative;
    top: -12vh;
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
  }
  
  .wholesaling__info p + p {
    position: relative;
    top: -12vh;
    font-weight: lighter;
    font-size: 1.7rem;
    font-family:'Open Sans', sans-serif;
    text-transform:none ;
  }
  
  .takeaway {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 12%;
  }
  
  .takeaway__info{ 
    width: 88%; 
    margin-top: 10%;
  }
  
  .takeaway__info > p {
    position: relative;
    top: -15vh;
    font-family: kenyanCoffee;
    font-size: 10rem;
  }
  
  .takeaway__info > p + p {
    position: relative;
    top: -13vh;
    font-weight: lighter;
    font-size: 1.6rem;
    width: 51vw;
    font-family:'Open Sans', sans-serif;
    text-transform:none ;
  }
  
  .our-history {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 4%;
  }
  
  .our-history__info{
    width: 88%;
    margin-top: 5%;
  }
  
  .our-history__info > p {
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
    margin: auto;
    width: 50%;
  }
  
  .our-history__info > p + p  {
    font-size: 1.7rem;
    font-weight: lighter;
    width: 62vw;
    margin: auto;
    font-family:'Open Sans', sans-serif;
    text-transform:none ;
  }
  
  .contact {
    display: flex;
    color: white;
    width: 100vw;
    height: 100vh;
    margin-top: 12%;
  }
  
  .contact__info{
    width: 88%;
    margin-top: 6%;
  }
  
  .contact__info > p {
    position: relative;
    top: -10vh;
    font-family: kenyanCoffee;
    font-size: 10rem;
    text-transform: capitalize;
  }
  
  .contact__info > h2 {
    position: relative;
    font-weight: lighter;
    font-size: 2rem;
    top: -10vh;
    width: 70vw;
  }
  
  .contact__branches {
    position: relative;
    top: -13vh;
    margin-left: 5%;
  }
  
  .contact__branches > div {
    margin-bottom: 1%;
  }
  
  .contact__branches > div > h3 {
    text-transform: capitalize;
    font-size: 2rem;
  }
  
  .contact__branches > div > p {
    font-size: 1.2rem;
  }
  
  .contact__social-networks {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
  }
  
  .contact__social-networks {
    position: relative;
    top: -11vh;
  }
  
  .contact__social-networks > figure > a img{
    height: 65px;
    transition: 0.5s all;
  }
  
  .contact__social-networks > figure > a:hover img{
    transform: scale(1.2);
  }
}
/************** 4K ******************/